html {
  background: gainsboro;
  color: #050505;
  height: 100%;
  width: 100%; }

body {
  background: whitesmoke;
  border-radius: 2px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%; }

div.main {
  height: 100%;
  margin-top: 2%;
  width: 100%; }

.btn:hover {
  background: gainsboro;
  cursor: pointer; }

img.icon {
  background: gainsboro;
  border-radius: 2px;
  display: inline-block;
  height: 30px;
  width: 30px; }
  img.icon.small {
    height: 16px;
    width: 16px; }
  img.icon.dark, img.icon:hover {
    background: #373737; }
  img.icon.dark:hover {
    background: #646464; }

.inline-icon {
  height: 16px;
  position: relative;
  top: 2px;
  width: 16px; }

.back {
  left: 10px;
  position: absolute;
  top: 4px; }

.navbar {
  background: #373737;
  border-bottom: 1px solid #050505;
  margin-bottom: 16px;
  padding-top: 8px;
  position: relative; }
  .navbar h2 {
    bottom: 4px;
    color: whitesmoke;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
    display: inline;
    font-weight: normal;
    margin: 0;
    position: relative; }
  .navbar .edit {
    bottom: 0px;
    position: absolute;
    right: 10px; }

.chart-filters {
  margin: 0 auto;
  height: 16px;
  position: absolute;
  top: 50px;
  right: 4%; }
  .chart-filters .chart-tabs {
    position: relative;
    right: -1px;
    top: 10px; }
    .chart-filters .chart-tabs span {
      border-radius: 2px 2px 0 0;
      border-top: 1px solid #050505;
      border-right: 1px solid #050505;
      border-left: 1px solid #050505;
      padding: 4px 8px; }
      .chart-filters .chart-tabs span.selected {
        background: gainsboro; }
        .chart-filters .chart-tabs span.selected:hover {
          cursor: default; }

.chart {
  background: #646464;
  border: 1px #373737 solid;
  border-radius: 2px;
  height: 50%;
  margin: 44px auto 16px;
  position: relative;
  width: 93.75%; }

.empty-msg {
  color: gainsboro;
  font-style: italic;
  position: absolute;
  right: 10%;
  top: 46%; }

.chart-switches {
  margin-bottom: 24px; }
  .chart-switches span {
    border: 1px #050505 solid;
    border-radius: 2px;
    padding: 4px 8px; }

.record {
  background: #373737;
  bottom: 0;
  color: whitesmoke;
  position: absolute;
  width: 100%;
  padding: 8px 0; }
  .record:hover {
    background: #646464; }
  .record .awake:before {
    background: #c81e1e;
    border-radius: 20px;
    content: '';
    display: inline-block;
    height: 16px;
    position: relative;
    top: 2px;
    width: 16px; }

.entry {
  margin-bottom: 16px; }
  .entry input {
    display: inline-block;
    width: 20%; }

.c:before, .c:after {
  content: "";
  display: table; }

.c:after {
  clear: both; }

.c {
  zoom: 1; }
