@import 'globals';

html {
    background: $light-gray;
    color: $black;
}

body {
    background: $white;
    border-radius: 2px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    width: 320px;
    text-align: center;
}

.btn {
    &:hover {
        background: $light-gray;
        cursor: pointer;
    }
}

img.icon {
    background: $light-gray;
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    width: 30px;
    &.small {
        height: 16px;
        width: 16px;
    }
    &.dark, &:hover {
        background: $dark-gray;
    }
    &.dark:hover {
        background: $gray;
    }
}

.inline-icon {
    height: 16px;
    position: relative;
    top: 2px;
    width: 16px;
}


.back {
    left: 10px;
    position: absolute;
    top: 4px;
}

.navbar {
    background: $dark-gray;
    border-bottom: 1px solid $black;
    margin-bottom: 16px;
    padding-top: 8px;
    position: relative;
    h2 {
        bottom: 4px;
        color: $white;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 20px;
        display: inline;
        font-weight: normal;
        margin: 0;
        position: relative;
    }
    .edit {
        bottom: 0px;
        position: absolute;
        right: 10px;
    }
}

.chart-filters {
    margin: 0 auto;
    height: 16px;
    position: relative;
    width: 300px;
    .chart-tabs {
        position: absolute;
        right: -1px;
        top: 9px;
        span {
            border-radius: 2px 2px 0 0;
            border-top: 1px solid $black;
            border-right: 1px solid $black;
            border-left: 1px solid $black;
            padding: 4px 8px;
            &.selected {
                background: $light-gray;
                &:hover {
                    cursor: default;
                }
            }
        }
    }
}

.chart {
    background: $gray;
    border: 1px $dark-gray solid;
    border-radius: 2px;
    height: 240px;
    margin: 16px auto 16px;
    width: 300px;
}

.empty-msg {
    color: $light-gray;
    font-style: italic;
    position: absolute;
    right: 20px;
    top: 197px;
}

.chart-switches {
    margin-bottom: 24px;
    span {
        border: 1px $black solid;
        border-radius: 2px;
        padding: 4px 8px;
    }
}


.record {
    background: $dark-gray;
    bottom: 0;
    color:  $white;
    position: absolute;
    width: 100%;
    padding: 8px 0;
    &:hover {
        background: $gray;
    }
    .awake:before {
        background: $red;
        border-radius: 20px;
        content: '';
        display: inline-block;
        height: 16px;
        position: relative;
        top: 2px;
        width: 16px;
    }
}

.entry {
    margin-bottom: 16px;
    input {
        display: inline-block;
        width: 20%;
    }
}

.c:before, .c:after {
    content: "";
    display: table;
}
.c:after {
    clear: both;
}
.c {
    zoom: 1;
}
