html {
  background: gainsboro;
  color: #050505; }

body {
  background: whitesmoke;
  border-radius: 2px;
  height: 480px;
  margin: 0 auto;
  position: relative;
  width: 320px;
  text-align: center; }

.btn:hover {
  background: gainsboro;
  cursor: pointer; }

img.icon {
  background: gainsboro;
  border-radius: 2px;
  display: inline-block;
  height: 30px;
  width: 30px; }
  img.icon.small {
    height: 16px;
    width: 16px; }
  img.icon.dark, img.icon:hover {
    background: #373737; }
  img.icon.dark:hover {
    background: #646464; }

.back {
  left: 10px;
  position: absolute;
  top: 4px; }

.navbar {
  background: #646464;
  border-bottom: 1px solid #050505;
  margin-bottom: 16px;
  padding-top: 8px;
  position: relative; }
  .navbar h2 {
    bottom: 4px;
    color: whitesmoke;
    display: inline;
    font-weight: normal;
    margin: 0;
    position: relative; }
  .navbar .edit {
    bottom: 0px;
    position: absolute;
    right: 10px; }

.chart-filters {
  margin: 0 auto;
  height: 16px;
  position: relative;
  width: 300px; }
  .chart-filters .chart-tabs {
    position: absolute;
    right: -1px;
    top: 9px; }
    .chart-filters .chart-tabs span {
      border-radius: 2px 2px 0 0;
      border-top: 1px solid #050505;
      border-right: 1px solid #050505;
      border-left: 1px solid #050505;
      padding: 4px 8px; }
      .chart-filters .chart-tabs span.selected {
        background: gainsboro; }
        .chart-filters .chart-tabs span.selected:hover {
          cursor: default; }

.chart {
  background: #646464;
  border: 1px #373737 solid;
  border-radius: 2px;
  height: 240px;
  margin: 16px auto 16px;
  width: 300px; }

.chart-switches {
  margin-bottom: 24px; }
  .chart-switches span {
    border: 1px #050505 solid;
    border-radius: 2px;
    padding: 4px 8px; }

.record {
  background: #373737;
  bottom: 0;
  color: whitesmoke;
  position: absolute;
  width: 100%;
  padding: 8px 0; }
  .record:hover {
    background: #646464; }

.entry {
  margin-bottom: 16px; }
  .entry input {
    display: inline-block;
    width: 20%; }

.c:before, .c:after {
  content: "";
  display: table; }

.c:after {
  clear: both; }

.c {
  zoom: 1; }
