<span class="btn icon back">
  <a href="#/">
    <img src="img/back.png">
  </a>
</span>

<div class="datepicker">
  <div class="heading c">
    <div class="month">
      <img ng-click="changeMonth(-1)" class="icon" src="img/back.png">
      <h3>{{ date | date:'MMMM' }}</h3>
      <img ng-click="changeMonth(1)" class="icon" src="img/forward.png">
    </div>
    <div class="year">
      <img ng-click="changeYear(-1)" class="icon" src="img/back.png">
      <h3>{{ date | date:'yyyy' }}</h3>
      <img ng-click="changeYear(1)" class="icon" src="img/forward.png">
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th ng-repeat="day in ['S', 'M', 'T', 'W', 'T', 'F', 'S']">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="week in weeks">
        <td ng-class="{'selected': selectedDate.toDateString() == date.toDateString()}"
            ng-click="selectDate(date)" ng-repeat="date in week">
          {{ date | date:'d' }}
        </td>
      <tr>
    </tbody>
  </table>
</div>

<div class="timepicker">
  <strong>
    <img class="icon dark" src="img/today.png">
    {{ selectedDate | date:'longDate' }}
  </strong>

  <span ng-click="incHour()" class="btn time">{{ hour | pad:2 }}</span>:
  <span ng-click="incMinute()" class="btn time">{{ minute | pad:2 }}</span>
  <span ng-click="togMeridiem()" class="btn time meridiem">{{ meridiem }}</span>
  <span>for</span>
  <div class="duration">
    <img ng-click="changeDuration(1)" class="btn icon inc" src="img/back.png">
    <input ng-model="duration" type="number" min="0">
    <img ng-click="changeDuration(-1)" class="btn icon dec" src="img/back.png">
  </div>

  <span>hrs</span>
  <div ng-click="addSleep()" class="submit btn">Add Sleep Session</div>
</div>