<div class="chart-filters">
  <div class="chart-tabs">
    <span ng-class="{'selected': rangeDays == 7}" ng-click="rangeDays = 7"
          class="btn">Week</span>
    <span ng-class="{'selected': rangeDays == 30}" ng-click="rangeDays = 30"
          class="btn">Month</span>
    <span ng-class="{'selected': rangeDays == -1}" ng-click="rangeDays = -1"
          class="btn">All</span>
  </div>
</div>

<div class="chart"></div>
<span ng-show="entries.length == 0" class="empty-msg">
  No sleep entries yet.
</span>

<!-- <div class="chart-switches">
  <span class="btn">Trends</span>
  <span class="btn">Stats</span>
</div> -->

<div ng-click="toggleRecord()" class="record btn">
  <span ng-class="{'awake': !recording}">
    <img ng-show="recording" class="sleeping inline-icon" src="img/stop.png">
    {{ recording && 'Recording Sleep...' || 'Record Sleep' }}
  </span>
</div>
